<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>예매 정보</title>
</head>
<body>
<h1>예매 정보</h1>
<table>
    <tr>
        <th>Theater Name</th>
        <th>Screenroom Name</th>
        <th>Movie Name</th>
        <th>Start Time</th>

        <th>Seat Info</th>
    </tr>
    <tr>

        <td th:text="${reservation.theaterName}"></td>
        <td th:text="${reservation.screenroomName}"></td>
        <td th:text="${reservation.movieName}"></td>
        <td th:text="${reservation.startTime}"></td>
        <td th:text="${reservation.seatInfo}"></td>
    </tr>
</table>
</body>
</html>
